<div class="container">
    <div class="row">
        <p class="text-end">Bienvenido! <a href="/admin/login/logout" class="btn btn-sm btn-danger" >Cerrar sesión <i class="fa fa-sing-out"></i></a></p>
    </div>
    <div class="row">
        <div class="col-7">
            <h2>Nuevos Drops</h2>
        </div>
        <div class="col-5 text-end">
            <a class="btn btn-success" href="/admin/novedades/agregar"><i class="fa fa plus" aria-hidden="true"></i>Agregar Drop</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">Drop</th>
                        <th scope="col">Imagen</th>
                        <th class="text-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each novedades}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{nombre}}</td>
                        <td>{{{imagen}}}</td>
                        <td class="text-end">
                            <a class="btn btn-secondary" href="/admin/novedades/editar/{{id}}"><i class="bi bi-pencil-fill"></i></a>
                            <a class="btn btn-secondary" href="/admin/novedades/eliminar/{{id}}"><i class="bi bi-trash3-fill"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>